body {
    background-color: #223549;
}

h1 {
    color: rgb(238, 238, 238);
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

div {
    text-align: center;
}

div {
    font-style: initial
    
}

div {
    font-size: small;
}
