body {
    background-color: #223549;
}

h1 {
    color: rgb(238, 238, 238);
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

h1 {
    text-align: center;
}

h2 {
    color: rgb(238, 238, 238);
}

h2 {
    font-style: oblique;
}

h2 {
    font-size: 300%;
}

h2 {
    text-align: center;
}

h3 {
    color: rgb(238, 238, 238);
}

h3 {
    font-style: oblique;
}

h3 {
    font-size: 300%;
}

h3 {
    text-align: center;
}


div {
    font-style: initial
}

div {
    font-size: large;
}

div {
    color: white;
}

p {
    font-size: large;
}

p {
    color: white;
}

p {
    text-align: start;
}

dl {
    color: rgb(238, 238, 238);
}

dl {
    font-size: large;
}

dl {
    text-align: start;
}

dd {
    font-size: x-large;
    text-align: inherit;
}

.contenedor {
    display: flex;
    justify-content: center;
    text-align: right;
}

.img1 {
    margin-inline-start: auto;
    text-align: right;
}

.img2 {
    margin-inline: auto;
    text-align: right;
}

.img3 {
    margin-inline: auto;
    text-align: right;
}

.img4 {
    margin-inline: auto;
    text-align: right;
}

.img5 {
    margin-inline: auto;
    text-align: right;
}

.img6 {
    margin-inline-end: auto;
    text-align: right;
}

.main {
    background: #4c6886;
    width: 70%;
    max-width: 1000px;
    margin: 20px auto;
}

.main .articles {
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
}

.main .articles article {
    padding: 30px;
    background: #4c6886;
    margin-bottom: 30px;
}

p.p-mid {
    padding: 30px;
}