h1 {
    color: var(--gold);
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

body {
    font-style: initial
}

body {
    font-size: small;
}


body {
    background-color: #061e36;
}

#columna1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#columna2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#columna3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#columna4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#columna5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#columna6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}