h1 {
    color: gold;
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

body {
    font-style: initial
}

body {
    font-size: small;
}


body {
    background-color: #204870;
}

