body {
    background-color: #223549;
}

h1 {
    color: rgb(238, 238, 238);
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

h1 {
    text-align: center;
}

h2 {
    color: rgb(238, 238, 238);
}

h2 {
    font-style: oblique;
}

h2 {
    font-size: 300%;
}

h2 {
    text-align: center;
}

h3 {
    color: rgb(238, 238, 238);
}

h3 {
    font-style: oblique;
}

h3 {
    font-size: 300%;
}

h3 {
    text-align: center;
}


div {
    font-style: initial
}

div {
    font-size: large;
}

div {
    color: white;
}

p {
    font-size: large;
}

p {
    color: white;
}

p {
    text-align: start;
}

dl {
    color: rgb(238, 238, 238);
}

dl {
    font-size: large;
}

dl {
    text-align: start;
}

.contenedor {
    display: flex;
    justify-content: center;
    text-align: right;
}

.img1 {
    margin-inline-start: auto;
}

.img2 {
    margin-inline: auto;
}

.img3 {
    margin-inline: auto;
}

.img4 {
    margin-inline: auto;
}

.img5 {
    margin-inline: auto;
}

.img6 {
    margin-inline-end: auto;
}