h1 {
    color: #008B8B;
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

body {
    font-style: initial
}

body {
    font-size: small;
}


body {
    background-color: rgb(211, 212, 212);
}

#culumna{
    max-width: 40%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}
#culumna2{
    max-width: 40%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}
#culumna3{
    max-width: 40%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}
#culumna4{
    max-width: 40%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}
#culumna5{
    max-width: 40%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}
#culumna6{
    max-width: 40%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}

