h1 {
    color: #008B8B;
}

h1 {
    text-align: center;
}

h1 {
    font-style: oblique;
}

h1 {
    font-size: 300%;
}

li {
    text-align: center;
}

body {
    font-style: initial
}

body {
    font-size: small;
}


body {
    background-color: rgb(164, 240, 221);
}

#culumna {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#culumna2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#culumna3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#culumna4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#culumna5 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}

#culumna6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    margin-top: 10px;
}